<%- include("header.ejs") %>

  <body>
    <div class="section1">
      <div class="title-box">
        <div class="text">Food <span class="recipe-txt">Recipe</span></div>
        <a href="#info-section"><button>MORE . .</button></a>
      </div>
    </div>

    <%- include("info.ejs") %>
    <%- include("collection.ejs") %>

    
  </body>
</html>
