<section id ="info-section">

  <!-- article 1 -->
  <article>
    <div class="judul-info">
      <p>FR</p>
      <img src="/images/foodRecipe-logo.png" alt="" />
    </div>

    <div>
      <p class="title-info">
        Web ini memberikan pengalaman anda untuk berpetualang tentang banyak nya
        resep dunia makanan
      </p>
    </div>

  </article>
  
  <!-- article 2 -->
  <article>
    <div class="judul-info">
      <p>FR</p>
      <img src="/images/foodRecipe-logo.png" alt="" />
    </div>
    
    <p class="title-info">Ayo buat resep makanan kamu untuk diri kamu dan orang lain ! Enjoy..</p>
    <button><a href="/new-post" class="lets-make"> Ayo Buat </a></button>
    <button><a href="/post" class="lets-make">Lihat Menu </a></button>
    <img src="/images/bahan-remove.png" alt="" class="img-bahan">
  </article>

  <article>
    <div class="judul-info">
      <p>FR</p>
      <img src="/images/foodRecipe-logo.png" alt="" />
    </div>

    <div class="gambar-info">
      <p class="misi-info">Misi saya adalah membawa anda untuk mengetahui berbagai bahan masakan yang ada didunia ini karena saya termasuk pecinta kuliner</p>

      <div class="gambar">

      </div>
    </div>

    <div></div>
    
  </article>
</section>
