.box-hasil {
  border: 2px solid black;
  width: 420px;
  display: flex;
  justify-content: center;
  gap: 12px;
  line-height: 25px;
  position: relative;
  box-shadow: 12px 10px 10px 0.1px gray;
  background-color: white;
}

.box-hasil p {
  color: gray;
}

.silang{
  position: absolute;
  background-color: red;
  color: black;
  padding: 10px;
  border-radius: 0px 0px 0px 18px;
  font-size: 1.2rem;
  right: 0;
  cursor: pointer;
}
.judul-hasil {
  text-align: center;
  padding: 30px;
}

.hasil-image {
  width: 200px;
  height: 240px;
  object-fit: cover;
  border: 0.5px solid black;

}
.hasil-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1350px;
  margin: 0 auto;
  padding: 12px;
  justify-content: center;
  gap: 20px;
  
}
.title-hasil {
  padding: 10px;
  width: 200px;
}
.btn-mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jump-link {
  padding: 20px;
  margin-top: 80px;
  font-size: 2.2rem;
  background-color: rgb(25, 212, 0);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.jump-link:hover{
  box-shadow: 12px 10px 10px 0.1px gray;  
  padding: 23px;
}

.jump-link:active{
  padding: 20px;
  box-shadow: none;
}
.jump-link a {
  color: black;
  text-decoration: none;
}
